

    <!-- row 1 (Header Banner)-->
    <header class="row">
      <div class="span6">
          <h1><%= link_to "Acme Real Estate", "index" %></h1>
        </div>
      <div class="span6">
          <h4><%= link_to "For Sale", "sale" %>   For Rent   New Developments </h4>
        </div>
    </header>


    <!-- row 2 (Property Address and Neighborhood)-->
    <h1><%= @property.address %></h1>
    <h4><%= @property.neighborhood %></h4>



    <!-- row 3 (Photos and Google Map)-->
  <div class="row">
      <div class="span8">
        <div class="carousel-outer">
          <a class="previouslink" href="#">Previous</a>
            <div class="carousel-inner">
                <ul>
                  <% @property.photos.each do |x| %><
                 <li class="image-shown"><%= image_tag(x.avatar.url) %></li>
                  <% end %>
                </ul>
            </div>
          <a class="nextlink" href="#">Next</a>
        </div>
      </div>

      <div class="span4">
          <div id="map-canvas" style="height:380px;width:300px;margin:0 auto;"></div>
      </div>
  </div>
    <% if @result.present? %>
    <script type="text/javascript">
      $(document).ready(function(){
        initialize_map(<%= @result.latitude %>, <%= @result.longitude %>);
      });
    </script>
  <% end %>



<!-- row 4 (Features and Agent info)-->
<div class="row">
  <div class="span4">
  <h3>Essentials</h3>
    <table id="vertical">
      <tr>
        <th>Price</th>
        <td><%= number_to_currency(@property.price, precision: 0) %></td>
      </tr>
      <tr>
        <th>Common Charges</th>
        <td><%= number_to_currency(@property.common_charges, precision: 0) %></td>
      </tr>
      <tr>
        <th>Taxes</th>
        <td><%= number_to_currency(@property.taxes, precision: 0) %></td>
      </tr>
      <tr>
        <th>Deposit</th>
        <td><%= number_to_percentage(@property.deposit, precision: 2) %></td>
      </tr>
      <tr>
        <th>Property Type</th>
        <td><%= @property.property_type %></td>
      </tr>
      <tr>
        <th>Bedrooms</th>
        <td><%= @property.bedrooms %></td>
      </tr>
      <tr>
        <th>Bathrooms</th>
        <td><%= @property.bathrooms %></td>
      </tr>
    </table>
  </div>

  <div class="span4">
  <h3>Features</h3>
    <table id="vertical">
      <tr>
        <td><%= @property.feature1 %></td>
      </tr>
      <tr>
        <td><%= @property.feature2 %></td>
      </tr>
      <tr>
        <td><%= @property.feature3 %></td>
      </tr>
      <tr>
        <td><%= @property.feature4 %></td>
      </tr>
      <tr>
        <td><%= @property.feature5 %></td>
      </tr>
      <tr>
        <td><%= @property.feature6 %></td>
      </tr>
      <tr>
        <td><%= @property.feature7 %></td>
      </tr>
    </table>
  </div>

  <div class="span4">
  <h3>Agents</h3>
    <table id="vertical">
      <tr>
        <td><%= @property.agent.name %></td>
      </tr>
      <tr>
        <td><%= image_tag @property.agent.avatar.url %></td>
      </tr>
      <tr>
        <td><%= @property.feature3 %></td>
      </tr>

    </table>
  </div>
</div>

  <!-- row 5 (Description)-->
  <div class="row">
    <h3>Description</h3>
    <p><%= @property.description %></p>
  </div>








