<%= link_to "Log out", logout_path %>

    <!-- row 1 -->
    <header class="row">
      <div class="span6">
          <h1><%= link_to "Acme Real Estate", "index" %></h1>
        </div>
      <div class="span6">
          <h4><%= link_to "For Sale", "sale" %>   For Rent   New Developments </h4>
        </div>
    </header>

    <!-- row 2 -->
<h1>Agents</h1>

<table class="table">

<% @agents.each do |agent| %>
  <tr>
    <td><%= link_to (agent.name), {:action => 'show', :id => agent.id} %></td>

    <td><%= link_to 'Edit', {:action =>'edit', :id => agent.id} %></td>
    <td><%= link_to 'Delete', {:action => 'destroy', :id => agent.id} %></td>
    <% end %>
  </tr>
</table>


<br/>
<%= link_to 'Create new agent', '/agents/new' %>