<h1>New Agent</h1>

<%= form_for(:agent, :url => {:action => 'update', :id => @agent.id}, :html => {:multipart => true}) do |f| %>
    <%= f.file_field :avatar %>

    <table>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    </table>

    <%= submit_tag("Add Agent") %>
    <%= link_to 'Return to list', '/agents/index' %>

 <% end %>