<!DOCTYPE html>
<html>
<head>
  <title>Acme Real Estate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr12q86kNWTDVFqJjvpye_cWNy8puqZ_8&sensor=false">
    </script>
</head>


<body>
    <div class="container">
      <%= flash[:notice] %>
        <%= yield %>

    </div>
</body>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</html>
